@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');








* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  /* height: -webkit-fill-available;
  height: fill-available; */

  
}

h1 {
  color: rgb(226,226,226);
  /* text-shadow: 1px 1px 1px #000; */
}

.page1 {
  background-color: rgb(6, 164, 138);
}

.page2 {
  background-color: rgb(211, 79, 79);
}

.page3 {
  background-color: rgb(67, 91, 175);
}

.page4 {
  background-color: rgb(191, 64, 191);
} 

