@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body,
html {
  height: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

#nav-link-hover:hover {
  color: red;
}

.home {
  /* position: absolute; */
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}

.home.active {
  right: 300px;
}

.home video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.home-text {
  position: relative;
  z-index: 10;
}

.home-text h3 {
  font-size: 3em;
  font-weight: 500;
  color: #fff;
  line-height: 1em;
}

.home-text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.home-text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 1px;
  transition: 0.2s;
}

.home-text a:hover {
  letter-spacing: 6px;
}

.carousel-section {
  height: 100vh;
}

.carousel-item {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}

/* ABOUT SECTION LINK IN MAIN STYLES */
.team-section {
  background-color:#8FB9A8;
  padding-top: 2rem;
  padding-bottom: 2rem;
}


/* STYLES FOR TEAM SECTION (DOCTORS) */
.team-section-img {
  border-radius: 8px;

}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}


/* STYLE FOR LOCATION ACCORDION */
.accordion {
  padding: 20px 50px;
}

#accordion-card-bg {
  background-color:#8FB9A8;
  opacity: 0.8;
  color:black;
  text-align: center;  
}


/* STYLES FOR FOOTER */
footer {
  background-color: #8FB9A8;
  color: white;
}

#footer-text-group {
  color: white;
}


/* RESPONSIVE */
@media (max-width: 991px) {
  .home,
  .home header
  {
    padding: 40px;
  }
  .home-text h2
  {
    font-size: 3em;
  }
  .home-text h3
  {
    font-size: 2em;
  }
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }




}


/* PARALLAX STYLES */
#parallax-section .parallax-location{
  color: white;
  padding-left: 50px;
  padding-top: 200px; 
  padding-bottom: 200px; 
  background-image: url(photo/location-p.jpg); 
  width: 100%; 
  height: 50%;
  background-attachment: fixed; 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: top center;
}

#parallax-section .parallax-about {
  padding-top: 200px; 
  padding-bottom: 200px; 
  padding-left: 50px;
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url(photo/tso-clinic-digos.jpg); 
  background-attachment: fixed; 
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: top center;
}

#parallax-section .page-title {
  background: white; 
  padding-top: 100px;
  padding-bottom: 20px; 
  margin:0 auto; 
  text-align:center;
}

#parallax-section .page-title h1 {
  font-size:35px; 
  letter-spacing:8px;
}


#parallax-section .parallax-content {
  background: white; 
  padding: 30px 50px; 
  width: 100%;
  margin:0 auto; 
  text-align:justify;
}

#parallax-section .parallax1 {
  color: white;
  padding-left: 50px;
  padding-top: 200px; 
  padding-bottom: 200px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url(photo/services-adult-eye-exam.jpg); 
  background-attachment: fixed; 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: top center;
}

#parallax-section .parallax2 {
  padding-left: 50px;
  padding-top: 200px; 
  padding-bottom: 200px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url(photo/services-child-eye-exam.jpg); 
  background-attachment: fixed; 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
}

#parallax-section .parallax3 {
  padding-left: 50px;
  padding-top: 200px; 
  padding-bottom: 200px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url(photo/services-contact-lens.jpg); 
  background-attachment: fixed; 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;}




/* RESPONSIVLE PARALLAX */
/* big */
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-section .parallax-content {
    padding: 20px; 
    width: 620px;    
}
/* medium */
@media screen and (max-width: 767px) {
  #parallax-section .parallax-content {
    padding: 30px; 
    width:420px;
  }
  #parallax-section .parallax-content {
    padding: 30px; 
    width: 420px;
  }
  #parallax-section h2 {
    font-size: 30px;
  }  
  #parallax-section .parallax-title {
    padding-top: 30px; 
    padding-bottom: 30px;    
  }

}
/* small */
@media screen and (max-width: 479px) {
  #parallax-section .parallax-content {
    padding: 20px 10px; 
    width: 290px;
  }
  #parallax-section .parallax1, 
  #parallax-section .parallax2, 
  #parallax-section .parallax3 
  #parallax-section .parallax-location {
  padding: 30px 15px; 
  width: 290px;
  }  
 


}

/* MAP */
